@import url(fuentes/Pokemon\ Hollow.ttf);
@import url(fuentes/Pokemon\ Solid.ttf);


.global
{
    overflow:visible;
}

.pokemon
{
    background-image: url('imagenes/escenario.jpg');
}

.caja 
{
    background-color: white;
}
.centrado
{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;  
    overflow:auto;     
}

.imagen
{    
    width:50%;    
}
@font-face{
    font-family: "Pokemon";
    src: url("/fuentes/Pokemon\ Hollow.ttf");

}

h1
{
    font-family: Pokemon;
}

@media  screen and (max-width: 600px)
{
    h1{        
        color:red;
    }

    .centrado
    {
        margin: auto;
        width: 100%;
        border: 3px solid green;
        padding: 10px;
        text-align: center;  
        overflow:visible;  
        box-sizing:border-box;
    }
}

