.global
{
    overflow:visible;
    background-image: url('imagenes/pokeball.png')
}
.pokemon
{
    background: url('imagenes/escenario.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}
.caja 
{
    background-color: white;
}
.centrado
{
    margin: auto;
    width: 55%;
    border: 3px solid black;
    padding: 5px;
    text-align: center;  
    overflow:auto;     
    background-color: white;
}
.imagen
{    
    padding-top: 5px;
    width:100%;    
}
.carta{
    width: 50%;
    border: 3px solid black;
    margin:auto;
    vertical-align: middle;
}
.nombre
{
    background-color: white;
    text-align: center;  
    margin:auto;
    vertical-align: middle;
}
@font-face{
    font-family: "Pokemon1";
    src: url("fuentes/Pokemon Solid.ttf");
}
@font-face{
    font-family: "Pokemon2";
    src: url("fuentes/PokemonHollow.ttf");
}
.text1
{
    font-family: "Pokemon1";
    color: black;

}
.text{
    font-family: "Pokemon2";
    color: crimson;
}

@media  screen and (max-width: 600px)
{
    h1{        
        color:red;
    }

    .centrado
    {
        margin: auto;
        width: 100%;
        border: 3px solid green;
        padding: 10px;
        text-align: center;  
        overflow:visible;  
        box-sizing:border-box;
    }
}

